.formStyle {
  display: flex;
  flex-direction: column;
  margin: 20px 30%;
  justify-content: space-between;
  height: 300px;
}

.formElement {
  margin-top: 20px;
  background-color: rgb(187, 187, 187);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.buttonStyle {
  margin: 10px 30px;
}
